.stellar-block {
  background-position: top center !important;
  background-attachment: none;
}
#stuck_container {
  background: url(../images/tit_bg.png) repeat 0 0;
}
.a1 {
  background: url(../images/ie_bg_2.png) repeat 0 0;
}
.sf-menu > li.current > a {
  text-decoration: none;
  background: url(../images/tit_bg.png) repeat 0 0;
}
.sf-menu ul {
  background: url(../images/tit_bg.png) repeat 0 0;
}
.a3 span {
  background: url(../images/tit_bg.png) repeat 0 0;
}
